<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
<!--		<form id="ajax-contact" method="patch" action="">
    		<div class="field">
      			<label for="number">Number:</label>
      			<input class="number" type="text" id="number" name="number" required>
    		</div>
    		<div>
      			<button class="submit" type="submit">Submit</button>
    		</div>
  		</form>
-->
		<%= highOrLow %>
	</body>
</html>
